@import url("https://fonts.googleapis.com/css2?family=Fascinate&family=Kanit:wght@600&family=Kdam+Thmor+Pro&family=Silkscreen&family=Source+Sans+Pro:ital,wght@0,300;1,300&family=Urbanist:wght@500&display=swap");

.backgroundhead {
  width: auto;
  height: 104px;
  flex-shrink: 0;
  background: #6DA34D;
}

.tabs {
  font-family: "Urbanist", sans-serif;
  text-decoration: none;
  font-size: 1rem;
}

.tab-profile {
  font-family: "Urbanist", sans-serif;
  text-decoration: none;
  font-size: 1rem;
  float: right;
}

.custom-hamburger {
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
}
