@import url("https://fonts.googleapis.com/css2?family=Fascinate&family=Kanit:wght@600&family=Kdam+Thmor+Pro&family=Silkscreen&family=Source+Sans+Pro:ital,wght@0,300;1,300&family=Urbanist:wght@500&display=swap");

.backgroundhead {
  background-image: linear-gradient(
    to bottom right,
    rgb(109, 163, 77),
    rgb(109, 163, 77)
  );
}

.tabs {
  font-family: "Urbanist", sans-serif;
  text-decoration: none;
  font-size: 1rem;
}

.tab-profile {
  font-family: "Urbanist", sans-serif;
  text-decoration: none;
  font-size: 1rem;
  float: right;
}
