.header-container {
    background-color: #f6efec; 
    padding: 10px; 
}

.logo-title-container {
    display: flex;
    align-items: center;
}

.img-logo-position {
    max-width: 150px; 
    height: auto;
}

.userguide-page {
    max-width: 600px; 
    margin: 0 auto; 
    font-family: Urbanist;
    background-color: #f6efec;
      
}

hr.divider {
    border: 1px solid #6da34d;
    margin: 20px 0;
}

hr{
   color: #6da34d
}


.section-content .bullet-list {
    list-style-type: none; 
    padding: 0;
}
  
.section-content .bullet-list li {
    margin-bottom: 8px; 
}

.section-content .bullet-list li::before {
    content: '-'; 
    color: #6da34d;
    font-size: 1.5em;
    display: inline-block;
    width: 1em; 
    margin-left: -1em; 
    margin-right: 0.5em; 
}

.section-content {
    text-align: left; 
    color:#585858;
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

h2{
    font-family: Urbanist;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
}

a:link {
    color: #955E42;
}

.help-btn{
    border-radius: 100px;
    border: 4px solid #955E42;
    background-color: #955E42;
    color: #f6efec;
    width: 40%;
    height: auto;
    gap: 8px;
    font-size: 24px;
    font-family: Urbanist;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }

.help-btn:hover {
    background-color:#955E42 ;
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 

}


@media screen and (max-width: 600px) {
    .header-container {
        padding: 5px;
    }

    .img-logo-position {
        max-width: 100px;
    }

    .userguide-page {
        max-width: 80%;
    }

    hr.divider {
        margin: 10px 0;
    }

    .section-content .bullet-list li::before {
        font-size: 1.2em;
    }

    h2 {
        font-size: 20px;
    }
}