.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 130px;
}

.App-header {
  background-color: rgb(255,255,243);
  /* #6DA34D*/ 
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(360deg); }
  to { transform: rotate(360deg); }
}

.App {
  text-align: center;
}
 
.label{
  display: block;
  font-size: larger;
  color: black;
  padding: 5px;
}
 
.input{
  font-size: larger;
  padding: 5px;
  margin: 2px;
  
}

/* CSS */
.btn {
  appearance: none;
  background-color: #70a44c;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.btn:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.btn:hover {
  background-color: #2c974b;
}

.btn:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.btn:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.btn:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}


.messages{
  display: flex;
  justify-content: center;
}
 
.error{
  display: block;
  color: black;
  width: fit-content;
  height: 70px;
  padding: 5px;
}
 
.success{
  display: block;
  color: black;
  width: fit-content;
  height: 70px;
  padding: 5px;
}

table {
  border: 2px solid forestgreen;
  width: 1425px;
  height: 500px;
}
  
th {
  font-size: 50px;
  border-bottom: 2px solid black;
}
  
td {
  text-align: center;
}

